<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url(assets/images/hero/hero-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Shop Left Sidebar</h1>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section section-padding">
    <div class="container">
        <div class="row row-30 mbn-40">

            <div class="col-xl-9 col-lg-8 col-12 order-1 order-lg-2 mb-40">
                <div class="row">

                    <div class="col-12">
                        <div class="product-show">
                            <h4>Show:</h4>
                            <select id="limit" onchange="selectParam('limit', this.value)" class="nice-select">
                                {{!-- <option value="" class="selected">{{ITEM_PER_PAGE}}</option> --}}
                                <option value="9">9</option>
                                <option value="12">12</option>
                                <option value="16">16</option>
                                <option value="20">20</option>
                            </select>

                        </div>
                        <div class="product-short" id="{{sort_value}}">
                            <h4>Short by:</h4>
                            <select id="orderby" onchange="selectParam('orderby', this.value)" class="nice-select">
                                {{!-- <option value="">{{sort_value}}</option>
                                {{#showOrHide sort_value "Hàng mới"}} --}}
                                <option id="{{sort_value}}" value="updateAsc" class="orderby">Hàng mới</option>
                                {{!-- {{/showOrHide}}
                                {{#showOrHide sort_value "Giá tăng dần"}} --}}
                                <option id="{{sort_value}}" value="priceAsc" class="orderby">Giá tăng dần</option>
                                {{!-- {{/showOrHide}}
                                {{#showOrHide sort_value "Giá giảm dần"}} --}}
                                <option id="{{sort_value}}" value="priceDesc" class="orderby">Giá giảm dần</option>
                                {{!-- {{/showOrHide}} --}}

                            </select>

                        </div>
                    </div>
                    <div class="sp">


                    </div>

                    {{#each products as | product |}}
                    <div class="col-xl-4 col-md-6 col-12 mb-40">

                        <div class="product-item">
                            <div class="product-inner">

                                <div class="image">
                                    <img src={{cover.avatar}} alt="">

                                    <div class="image-overlay">
                                        <div class="action-buttons">
                                            <button><a href="/dashboard/products/{{id}}" id="product-detail">Xem chi tiết</a></button>
                                            <button class="add-to-cart" data-id={{id}}>Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>

                                </div>

                                <div class="content">

                                    <div class="content-left">

                                        <h4 class="title"><a href="single-product.html">{{name}}</a></h4>
                                        <h5><span class="size">{{price}} &#273;</span></h5>


                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>

                                        <h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span>
                                        </h5>
                                        <h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span
                                                style="background-color: #0271bc"></span><span
                                                style="background-color: #efc87c"></span><span
                                                style="background-color: #00c183"></span></h5>

                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                    {{/each}}




                    <div class="col-12">
                        <ul class="page-pagination">
                            {{#if (show currentPage 1)}}
                            <li value="{{previousPage}}" onclick="selectParam('page', this.value)"><a
                                    href="javascript:void(0)"><i class="fa fa-angle-left"></i></a></li>
                            {{/if}}
                            {{#if hasPreviousPage}}
                            <li value="{{previousPage}}" onclick="selectParam('page', this.value)"><a
                                    href="javascript:void(0)">{{previousPage}}</a></li>
                            {{/if}}
                            <li class="active"><a href="javascript:void(0)">{{currentPage}}</a></li>
                            {{#if hasNextPage}}
                            <li value="{{nextPage}}" onclick="selectParam('page', this.value)"><a
                                    href="javascript:void(0)">{{nextPage}}</a></li>
                            {{/if}}
                            {{#if (show currentPage lastPage)}}
                            <li value="{{nextPage}}" onclick="selectParam('page', this.value)"><a
                                    href="javascript:void(0)"><i class="fa fa-angle-right"></i></a></li>
                            {{/if}}
                        </ul>
                    </div>

                </div>
            </div>


            <div class="col-xl-3 col-lg-4 col-12 order-2 order-lg-1 mb-40">

                <div class="sidebar">
                    <h4 class="sidebar-title">Category</h4>
                    <ul class="sidebar-list">
                        <li><a href="/dashboard/category/quan">Quần <span class="num">18</span></a></li>
                        <li><a href="/dashboard/category/ao">Áo <span class="num">09</span></a></li>
                    </ul>
                </div>

                <div class="sidebar">
                    <h4 class="sidebar-title">Thương hiệu</h4>
                    <ul class="sidebar-list">
                        <li><input type="radio" value="Torano">Torano</li>
                        <li><input type="radio" value="Tony4men">Tony4men</li>
                        <li><input type="radio" value="Owen">Owen</li>
                    </ul>
                </div>

                <div class="sidebar">
                    <h4 class="sidebar-title">Popular Product</h4>
                    <div class="sidebar-product-wrap">
                        <div class="sidebar-product">
                            <a href="single-product.html" class="image"><img src="/assets/images/product/product-1.jpg"
                                    alt=""></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Tmart Baby Dress</a>
                                <span class="price">$25 <span class="old">$38</span></span>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-product">
                            <a href="single-product.html" class="image"><img src="/assets/images/product/product-2.jpg"
                                    alt=""></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Jumpsuit Outfits</a>
                                <span class="price">$09 <span class="old">$21</span></span>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-product">
                            <a href="single-product.html" class="image"><img src="/assets/images/product/product-3.jpg"
                                    alt=""></a>
                            <div class="content">
                                <a href="single-product.html" class="title">Smart Shirt</a>
                                <span class="price">$18 <span class="old">$29</span></span>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar mb-2">
                    <h3 class="sidebar-title">Khoảng giá</h3>


                    <div class="sidebar-price">
                        <div id="price-range"></div>
                        <span class="float-left">
                            <span type="number" id="min-amount"></span>
                            <span class="unit">đ</span>
                        </span>

                        <span class="float-right">
                            <span type="number" id="max-amount"></span>
                            <span class="unit">đ</span>
                        </span>
                    </div>

                </div>
                <div class="mt-2">
                    <div class="button-yes" style="margin-left: 30%;">
                        <div class="actions">
                            <button id="filter-by-price"><span>Đồng ý</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- Page Section End -->
<script>
    let urlParams = new URLSearchParams(location.search)
    let params = {
        page: 1,
        orderby: 'updateAsc',
        limit: 9,
        brand: '',
        min: 0,
        max: 1000000
    }
    for (let key in params) {
        if (!urlParams.has(key)) {
            urlParams.append(key, params[key])
        }
    }
    $('#orderby').val(urlParams.get('orderby'))
    $('#limit').val(urlParams.get('limit'))

    function selectParam(key, value) {
        urlParams.set(key, value)
        let url = `dashboard?${urlParams.toString()}`
        location.href = url
    }
</script>