<!-- Hero Section Start -->
<div class="hero-section section">

    <!-- Hero Slider Start -->
    <div class="hero-slider hero-slider-one fix">

        <!-- Hero Item Start -->
        <div class="hero-item" style="background-image: url(assets/images/hero/hero-1.jpg)">

            <!-- Hero Content -->
            <div class="hero-content">

                <h1>Get 35% off <br>Latest Baby Product</h1>
                <a href="dashboard">SHOP NOW</a>

            </div>

        </div><!-- Hero Item End -->

        <!-- Hero Item Start -->
        <div class="hero-item" style="background-image: url(assets/images/hero/hero-2.jpg)">

            <!-- Hero Content -->
            <div class="hero-content">

                <h1>Get 35% off <br>Latest Baby Product</h1>
                <a href="#">SHOP NOW</a>

            </div>

        </div><!-- Hero Item End -->

    </div><!-- Hero Slider End -->

</div><!-- Hero Section End -->

<!-- Banner Section Start -->
<div class="banner-section section mt-40">
    <div class="container-fluid">
        <div class="row row-10 mbn-20">

            <div class="col-lg-4 col-md-6 col-12 mb-20">
                <div class="banner banner-1 content-left content-middle">

                    <a href="#" class="image"><img src="assets/images/banner/banner-1.jpg" alt="Banner Image"></a>

                    <div class="content">
                        <h1>New Arrival <br>Baby’s Shoe <br>GET 30% OFF</h1>
                        <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-20">
                <a href="#" class="banner banner-2">

                    <img src="assets/images/banner/banner-2.jpg" alt="Banner Image">

                    <div class="content bg-theme-one">
                        <h1>New Toy’s for your Baby</h1>
                    </div>

                    <span class="banner-offer">25% off</span>

                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mb-20">
                <div class="banner banner-1 content-left content-top">

                    <a href="#" class="image"><img src="assets/images/banner/banner-3.jpg" alt="Banner Image"></a>

                    <div class="content">
                        <h1>Trendy <br>Collections</h1>
                        <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div><!-- Banner Section End -->

<!-- Product Section Start -->
<div class="product-section section section-padding">
    <div class="container">

        <div class="row">
            <div class="section-title text-center col mb-30">
                <h1>Dành Riêng Cho Bạn</h1>
            </div>
        </div>

        <div class="row mbn-40">
            {{#each products as | product |}}
            <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">
                <div class="product-item">
                    <div class="product-inner">

                        <div class="image">
                            <img src={{cover.avatar}} alt="">

                            <div class="image-overlay">
                                <div class="action-buttons">
                                    <button><a href="/dashboard/products/{{id}}" id="product-detail">Xem chi tiết</a></button>
                                            <button class="add-to-cart" data-id={{id}}>Thêm vào giỏ hàng</button>
                                </div>
                            </div>

                        </div>

                        <div class="content">

                            <div class="content-left">

                                <h4 class="title"><a href="single-product.html">{{name}}</a></h4>
                                <h5><span class="size">{{price}} &#273;</span></h5>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>

                                <h5 class="size">Size: <span>S</span><span>M</span><span>L</span><span>XL</span></h5>
                                <h5 class="color">Color: <span style="background-color: #ffb2b0"></span><span
                                        style="background-color: #0271bc"></span><span
                                        style="background-color: #efc87c"></span><span
                                        style="background-color: #00c183"></span></h5>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            {{/each}}

        </div>

    </div>
</div><!-- Product Section End -->

<!-- Banner Section Start -->
<div class="banner-section section section-padding pt-0 fix">
    <div class="row row-5 mbn-10">

        <div class="col-lg-4 col-md-6 col-12 mb-10">
            <div class="banner banner-3">

                <a href="#" class="image"><img src="assets/images/banner/banner-4.jpg" alt="Banner Image"></a>

                <div class="content" style="background-image: url(assets/images/banner/banner-3-shape.png)">
                    <h1>New Arrivals</h1>
                    <h2>Up to 35% off</h2>
                    <h4>2 - 5 Years</h4>
                </div>

                <a href="#" class="shop-link" data-hover="SHOP NOW">SHOP NOW</a>

            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-10">
            <div class="banner banner-4">

                <a href="#" class="image"><img src="assets/images/banner/banner-5.jpg" alt="Banner Image"></a>

                <div class="content">
                    <div class="content-inner">
                        <h1>Online Shopping</h1>
                        <h2>Flat 25% off <br>New Trend for 2018</h2>
                        <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 mb-10">
            <div class="banner banner-5">

                <a href="#" class="image"><img src="assets/images/banner/banner-6.jpg" alt="Banner Image"></a>

                <div class="content" style="background-image: url(assets/images/banner/banner-5-shape.png)">
                    <h1>Collection for <br>Baby Girl’s</h1>
                    <h2>Flat 25% off</h2>
                </div>

                <a href="#" class="shop-link" data-hover="SHOP NOW">SHOP NOW</a>

            </div>
        </div>

    </div>
</div><!-- Banner Section End -->

<!-- Product Section Start -->
<div class="product-section section section-padding pt-0">
    <div class="container">
        <div class="row mbn-40">

            <div class="col-lg-4 col-md-6 col-12 mb-40">

                <div class="row">
                    <div class="section-title text-left col mb-30">
                        <h1>Sản Phẩm Bán Chạy</h1>
                    </div>
                </div>
                <div class="best-deal-slider w-100">
                    {{#each productsBestSale as | bestSale |}}
                    <div class="slide-item">
                        <div class="best-deal-product">

                            <div class="image"><img src={{cover.bestsale}} alt=""></div>

                            <div class="content-top">

                                <div class="content-top-left">
                                    <h4 class="title"><a href="#">{{name}}</a></h4>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>

                                <div class="content-top-right">
                                    <span class="price">$13 <span class="old">$28</span></span>
                                </div>

                            </div>

                            <div class="content-bottom">
                                <div class="countdown" data-countdown="2021/06/20"></div>
                                <a href="#" data-hover="SHOP NOW">SHOP NOW</a>
                            </div>

                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>

            <div class="col-lg-8 col-md-6 col-12 pl-3 pl-lg-4 pl-xl-5 mb-40">

                <div class="row">
                    <div class="section-title text-left col mb-30">
                        <h1>Hot Sale</h1>
                    </div>
                </div>

                <div class="small-product-slider row row-7 mbn-40">

                    {{#each productsSale as | sale |}}
                    <div class="col mb-40">
                        <div class="on-sale-product">
                            <a href="dashboard/products/{{id}}" class="image"><img src={{cover.avatar}}
                                    alt=""></a>
                            <div class="content text-center">
                                <h4 class="title"><a href="dashboard/products/{{id}}">{{name}}</a></h4>
                                <span class="price">$19 <span class="old">{{price}}</span></span>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>

        </div>
    </div>
</div><!-- Product Section End -->

<!-- Feature Section Start -->
<div class="feature-section bg-theme-two section section-padding fix"
    style="background-image: url(assets/images/pattern/pattern-dot.png);">
    <div class="container">
        <div class="feature-wrap row justify-content-between mbn-30">

            <div class="col-md-4 col-12 mb-30">
                <div class="feature-item text-center">

                    <div class="icon"><img src="assets/images/feature/feature-1.png" alt=""></div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>Start from $100</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 mb-30">
                <div class="feature-item text-center">

                    <div class="icon"><img src="assets/images/feature/feature-2.png" alt=""></div>
                    <div class="content">
                        <h3>Money Back Guarantee</h3>
                        <p>Back within 25 days</p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-12 mb-30">
                <div class="feature-item text-center">

                    <div class="icon"><img src="assets/images/feature/feature-3.png" alt=""></div>
                    <div class="content">
                        <h3>Secure Payment</h3>
                        <p>Payment Security</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div><!-- Feature Section End -->