.paginationjs-pages ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: noe;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .paginationjs-pages li {
      margin: 5px 10px; }
      .paginationjs-pages li a {
        font-size: 16px;
        line-height: 40px;
        font-weight: 500;
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: #94c7eb;
        color: #1a161e;
        border-radius: 50px; }
        .paginationjs-pages li a i {
          display: block;
          font-size: 18px;
          line-height: 40px; }
        .paginationjs-pages li a:hover {
          background-color: #ff708a; }
      .paginationjs-pages li.active a {
        background-color: #ff708a; }
      .paginationjs-pages li:first-child {
        margin-right: 20px; }
      .paginationjs-pages li:last-child {
        margin-left: 20px; }
    @media only screen and (max-width: 767px) {
      .paginationjs-pages li {
        margin: 5px; } }
    @media only screen and (max-width: 479px) {
      .paginationjs-pages li {
        margin: 5px 3px; }
        .paginationjs-pages li a {
          font-size: 14px;
          line-height: 36px;
          width: 36px;
          height: 36px; }
          .paginationjs-pages li a i {
            line-height: 36px; }
        .paginationjs-pages li:first-child {
          margin-right: 10px; }
        .paginationjs-pages li:last-child {
          margin-left: 10px; } }
  
  /*--
      - Blockquote