<div class="page-banner-section section" style="background-image: url(assets/images/hero/hero-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Cart</h1>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="cart.html">Cart</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section section-padding">
    <div class="container">
        {{#if cart.totalQuantity}}

        <form action="#">
            <div class="row mbn-40">
                <div class="col-12 mb-40">
                    <div class="cart-table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#with cart}}
                                {{#each items}}
                                <tr id="item{{item._id}}">
                                    <td class="pro-thumbnail"><a href="#"><img src={{item.cover}} alt="" /></a></td>
                                    <td class="pro-title"><a href="#">{{item.name}}</a></td>
                                    <td class="pro-price"><span class="amount">{{item.price}}</span></td>
                                    <td class="pro-quantity">
                                        <div class="pro-qty"><input type="number" id="stt{{item._id}}"
                                                value="{{quantity}}" onchange="updateCart('{{item._id}}', this.value)">
                                        </div>
                                    </td>
                                    <td class="pro-subtotal" id="{{item._id}}">{{price}}</td>
                                    <td class="pro-remove"><a href="#">×</a></td>
                                </tr>
                                {{/each}}
                                {{/with}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 col-12 mb-40">
                    <div class="cart-buttons mb-30">
                        <input type="submit" value="Update Cart" />
                        <a href="#">Continue Shopping</a>
                    </div>
                    <div class="cart-coupon">
                        <h4>Coupon</h4>
                        <p>Enter your coupon code if you have one.</p>
                        <div class="cuppon-form">
                            <input type="text" placeholder="Coupon code" />
                            <input type="submit" value="Apply Coupon" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12 mb-40">
                    <div class="cart-total fix">
                        <h3>Cart Totals</h3>
                        <table>
                            <tbody>
                                <tr class="cart-subtotal">
                                    <th>Subtotal</th>
                                    <td><span class="amount" id="sub-price">{{cart.totalPrice}}</span></td>
                                </tr>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td>
                                        <strong><span class="amount"
                                                id="total-price">{{cart.totalPrice}}</span></strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="proceed-to-checkout section mt-30">
                            <a href="#">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {{/if}}

    </div>
</div><!-- Page Section End -->