<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jadusona - eCommerce Baby shop Bootstrap4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/icon-font.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/pagination.css">
    <!-- jQuery JS -->
    <script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
        type="text/javascript"></script>

</head>

<body>

    <div class="main-wrapper">

        {{> header}}
        {{{body}}}
        {{> footer}}


    </div>

    <!-- JS
============================================ -->


    <!-- Pagination JS -->
    <script src="/assets/js/pagination.min.js"></script>
    <script src="/assets/js/pag.js"></script>
    <!-- Cart JS -->
    <script src="/assets/js/cart.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="/assets/js/plugins.js"></script>
    <!-- Ajax Mail -->
    <script src="/assets/js/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>



</body>

</html>