<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url(assets/images/hero/hero-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Login & Register</h1>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section section-padding">
    <div class="container">
        <div class="row mbn-40">

            <div class="col-lg-4 col-12 mb-40">
                <div class="login-register-form-wrap">
                    <h3>Login</h3>
                    {{#if message }}
                    <p class="alert {{type}}" id="err">{{ message }}</p>
                    {{/if}}
                    <form action="/user/login" method="POST" class="mb-30 checkout-form">
                        <div class="row">
                            <div class="col-12 mb-15"><input type="text" placeholder="Email" id="username" name="username"></div>
                            <div class="col-12 mb-15"><input type="password" placeholder="Password" id="password" name="password"></div>
                            <div class="col-12 mb-15">
                                <div class="check-box mb-15">
                                    <input type="checkbox" id="keepLogin" name="keepLogin">
                                    <label for="keepLogin">Ghi nhớ đăng nhập?</label>
                                </div>
                            </div>
                            <div class="col-12"><input type="submit" value="Login"></div>
                        </div>
                    </form>
                    <h4>You can also login with...</h4>
                    <div class="social-login">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div><!-- Page Section End -->