<!-- Page Banner Section Start -->
<div class="page-banner-section section" style="background-image: url(assets/images/hero/hero-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="page-banner-content col">

                <h1>Login & Register</h1>
                <ul class="page-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                </ul>

            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Page Section Start -->
<div class="page-section section section-padding">
    <div class="container">
        <div class="row mbn-40">
            <div class="col-lg-4 col-12 mb-40 mr-auto">
                <div class="login-register-form-wrap">
                    <h3>Register</h3>

                    {{#if message }}
                <p class="alert {{type}}" id="err">{{ message }}</p>
            {{/if}}
                    <form method="POST" id="register-form">
                        <div class="row">
                            <div class="col-md-6 col-12 mb-15"><input type="text" placeholder="Your Name" id="name"
                                    name="name"></div>
                            <div class="col-md-6 col-12 mb-15"><input type="text" placeholder="Email" id="email"
                                    name="email"></div>
                            <div class="col-md-6 col-12 mb-15"><input type="password" placeholder="Password"
                                    id="password" name="password"></div>
                            <div class="col-md-6 col-12 mb-15"><input type="password" placeholder="Confirm Password"
                                    id="confirmPassword" name="confirmPassword"></div>
                            <div class="col-md-6 col-12"><input id="hihi" type="submit" value="Register"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- Page Section End -->

<script>
    $("#register-form").validate({
    rules: {
      name: {
        required: true,
        minlength: 3
      },
      email: {
        required: true,
        email: true
      },
      password: {
        required: true,
        minlength: 6
      },
      confirmPassword: {
        required: true,
        minlength: 6,
        equalTo: "#password"
      }
    },

    messages: {
      name: {
        required: "Vui lòng nhập họ và tên",
        minlength: "Họ và tên phải có tối thiểu 3 kí tự"
      },
      password: {
        required: "Vui lòng nhập mật khẩu",
        minlength: "Mật khẩu phải có tối thiểu 6 kí tự"
      },
      confirmPassword: {
        required: "Vui lòng nhập mật khẩu",
        minlength: "Mật khẩu phải có tối thiểu 6 kí tự",
        equalTo: 'Xác nhận mật khẩu không khớp'
      },
      email:{
        required: "Vui lòng nhập email",
        email: 'Vui lòng nhập đúng email'
      }
    },

    submitHandler: function(form) {
      form.submit();
    }
 });
</script>